<%- include("partials/header.ejs") %>
<body>
    <div class='cards'>
<section class="homepage-intro">
  <h1> <span class="highlight">Bits of Me, Bytes of Code</span></h1>
  <p>
    A space where pixels meet poetry, code meets curiosity, and every bit has a story.

  </p>
  <p>
   You'll find thoughts that read like journal entries. CSS experiments that double as therapy. Pages where I tinker with shadows and fonts until they “feel right.” Bits that explore the aesthetics of code, and bytes that quietly rebel against the idea that tech has to be cold and mechanical.
  </p>
  
  <!-- <a href="/posts" class="explore-link">→ Start exploring</a> -->
</section>

<section id="centre-card" class="homepage-intro">
  <h1>Welcome to <span class="highlight">BitByPooja</span></h1>
  <p>
    Every byte has a story—and here at <strong>BitByPooja</strong>, I’m writing mine one bit at a time.
    Whether it’s a deep dive into code, a quiet rebellion through design, or simply a thought I can’t let go of,
    this is where ideas come alive.
  </p>
  
  
  <a href="/allBlogs" class="explore-link">→ Start exploring</a>
</section>

<section class="homepage-intro">
  <h1>The Art of Code, According to Me</h1>
  <p>
    From front-end flair to back-end basics, from styling tricks to debugging mysteries, I break it all down into bite-sized pieces. Because coding isn’t just what I do — it’s part of who I am.
  </p>
  <p>
    You’ll find snippets of tech, creative builds, life lessons from late-night bugs, and the occasional
    chaos beautifully wrapped in curly braces.
  </p>
  <!-- <a href="/posts" class="explore-link">→ Start exploring</a> -->
</section>
</div>
</body>

<%- include("partials/footer.ejs") %>